# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/.vscode
/.gitignore
/generador-documentacion/__pycache__/
/generador-documentacion/sitio/
/generador-documentacion/tmp/
/logs/json/
/logs/estadisticas.html
/logs/tmp.py
