# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/.vscode
/.gitignore
__pycache__
/documentacion/sitio/
/documentacion/tmp/
/ejercicios-htmlcss/files/
/ejercicios-htmlcss/revisados/
/ejercicios-htmlcss/tmp.py
/legislacion/docs/
/legislacion/otros/
/legislacion/tmp/
/logs/json/
/logs/estadisticas.html
/logs/tmp.py
/unicode/tmp
/unicode/version-php-200613
